/** @format */

.shoping_bag {
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	position: relative;
	cursor: pointer;
	.shop-icon {
		width: 100%;
	}
	p {
		top: 0.3px;
		position: absolute;
	}
}
